.navbar-test {
  background: grey;
  height: 60px;
}

.toggle {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.menu {
  list-style-type: none;
  position: fixed;
  top: 60px;
  left: -100%;
  width: 16%;
  height: 100vh;
  background: grey;
  transition: all 0.7s ease-in-out;
  z-index: 999;
  padding-top: 40px;
  padding-left: 40px;
}

.menu li {
  font-size: 1.2vw;
  margin-bottom: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid white;
  width: 10vw;
}

.menu.active {
  left: 0;
}
